{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">
	<div class="row">
		<div class="col-md-6">
			<h3>Start recording below</h3>

			<form action="javascript:void(0);" method="post" enctype="multipart/form-data">
			  <input class="form-control" type="file" name="video" accept="video/*" id="videoCapture" capture>
			  <!-- <input class="btn btn-primary" type="button" value="Upload" id="uploadVideo"> -->
			</form>
			<img id="loading" style="display:none;" src="http://res.cloudinary.com/esalling/image/upload/v1518293471/giphy_yyozmw.gif">

		</div>

	</div>

</div> <!-- .container-fluid -->
