<div class="modal" id="signup-modal" style="display:none">
	<div class="signup-wrap row">
		<span id="signup-close" class="glyphicon glyphicon-remove btn btn-primary btn-close"></span>

		<form id="signupForm" class="col-xs-12 col-sm-8">
			<h3>Signup</h3>
			<input type="text" class="form-control" name="username" placeholder="Username">
			<input type="text" class="form-control" name="email" placeholder="Email">
			<input type="password" class="form-control" name="password" placeholder="Password">
			<input type="button" class="btn btn-primary form-control" value="Signup" id="signup">
		</form>
	</div>
</div>
