<div class="row modal-inner upload">

  <video id="recorded" autoplay controls controlsList="nodownload nofullscreen" oncontextmenu="return false;"></video>

  <form id="upload-form" data-sendTo="upload-send">
    {{> form questions=questionaire.questions type="upload"}}
  </form>

  {{> loading}}

</div>
