// SAMPLE PALETTE
$color-peach: #ff9971;
$color-dark-orange: #ff5e41;
$color-gray-orange: #674B47;
$color-light-orange: #ffb71d;
$color-light-blue: #2bd3ee;
$color-light-orange: #ffb71d;
$color-light-green: #13e695;
$color-neon-green: #C8E646;
$color-light-red: #ab3724;
$color-dark-purple: #6768FE;
$color-bright-yellow: #FFD255;
$color-orange: #FD6D59;
$color-red: #fe6444;
$color-blue: #4343ff;
$color-salmon: #ff7f7d;
$color-violet: #7c90ff;
$color-teal: #36d5d9;
$color-yellow: #fbd738;
$color-green: #00CB86;


$color-blue: #2D4F89;
$color-blue-light: #56A2DB;
$color-pink: #D994A7;

$color-light: #E6F0F4;
$color-dark: #2B3135;
$color-bg-dark: darken($color-light, 20%);

$color-bg: $color-light;
$color-bg-input: lighten($color-dark, 60%);

$color-block: $color-bg-dark;
$color-header: $color-blue;

$color-text: $color-dark;
$color-text-hover: $color-light;

$color-accent: $color-pink;
