@import "core/variables";
@import "core/mixins";
@import "core/functions";
@import "core/fonts";


@include font-face(Font-Name, 'https://path/to/cdn/font', null, null, eot woff ttf);


.m-3 {
	margin: 10px;
}

.p-3 {
	padding: 10px;
}
// Use for any elements hidden initilly
.hidden {
	visibility: hidden;
}

html {
	overflow: scroll;
}
// Body
.body {
  background-color: white;
  color: black;
  font-family: 'Inconsolata', monospace;
	overflow: scroll;
}

.desktop-only {
	// Hide for mobile
	@include mobile-only {
		display: none;
	}
}
.mobile-only {
	// Hide for desktop
	@include desktop-and-up {
		display: none;
	}
}
.buffer {
		margin-top: 5%;
}

.navigation {
	position: fixed;
	top: 0px;
	height: 80px;
	color: white;
	background: blue;
}

.btn, button, select, option, input[type="checkbox"], input[type="radio"], .interactive {
	cursor: pointer;
}

.btn-close {
	position: absolute;
	top: 10px;
	right: 10px;
}

button, input {
	border: 1px solid black;
	text-align: center;
	margin: 10px auto;

	&:disabled {
		border: 1px solid grey;
		color: grey;

	}
}

.form-control {
	margin: 5px auto;
}

video {
	max-width: 100%;
}

.box {
	border: 2px solid black;
	padding: 10px;
	margin-bottom: 20px;
}

.modal {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	background: white;
	text-align: center;
	padding: 5%;
	padding-top: 2%;
	overflow: scroll;

	video {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	&.upload {
		max-height: 150px;

		video {
			height: 100px;
			float: left;
		}
	}

	&#signup-modal {
		background: rgba(0, 0, 0, 0.4);

		.signup-wrap {
			background: white;
			position: relative;
			height: 100%;
			padding: 40px;

			form {
				float: none;
				margin: 0 auto;
			}
		}
	}

	&#researcher-modal {
		* {
			text-align: left;
		}
		video, #client-info, #timestamp-form {
			width: 80%;
			margin: 0px auto;
			margin-bottom: 20px;
		}

		#research-close {
			position: absolute;
			top: 40px;
			right: 20px;
		}
	}

	form {
		display: block;

		input, select {
			border: 1px solid black;
			display: block;
			margin: 10px auto;

			&[type=radio] {
				display: inline-block;
			}
		}

		.radio-group {
			border: 1px solid black;
			padding: 4px;
			margin: 4px;
		}
	}
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

		&:hover, &:active {
			background: blue;
			color: white;
		}

		&:visited, &:focus {
			background: white;
			color: black;
		}
}

#video-upload {
	display: none;
}

.video-item {
	padding: 8px;
	margin: 8px;
	margin-left: 0px;
	border: 1px solid black;
	width: 40%;
	display: inline-block;

	&:focus, &:hover {
		background-color: $color-light-blue;
		cursor: pointer;
	}

	&:active {
		background-color: $color-blue;
		cursor: pointer;
	}

	@media(max-width: 400px) {
		width: 100%;

	}
}

.log {
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
	margin-left: 0px;
}

.btn-group {
	margin-bottom: 10px;
}

.filters {
	margin-left: 0px;
}

.sorting {

	ul {
		list-style-type: none;
		padding: 0px;
	}

		li {
			display: inline-block;
		}

}

.home {

	#title {

	}

}
