@import "core/variables";
@import "core/mixins";
@import "core/functions";
@import "core/fonts";


@include font-face(Font-Name, 'https://path/to/cdn/font', null, null, eot woff ttf);


.m-3 {
	margin: 10px;
}

.p-3 {
	padding: 10px;
}
// Use for any elements hidden initilly
.hidden {
	visibility: hidden;
}

html {
	overflow: scroll;
}
// Body
.body {
  background-color: white;
  color: black;
  font-family: 'Inconsolata', monospace;
	overflow: scroll;
}

.desktop-only {
	// Hide for mobile
	@include mobile-only {
		display: none;
	}
}
.mobile-only {
	// Hide for desktop
	@include desktop-and-up {
		display: none;
	}
}
.buffer {
		margin-top: 5%;
}

.main {

}

button, input {
	border: 1px solid black;
	text-align: center;
	margin: 10px auto;

	&:disabled {
		border: 1px solid grey;
		color: grey;

	}
}

video {
	max-width: 100%;
}

.box {
	border: 2px solid black;
	padding: 10px;
	margin-bottom: 20px;
}

.modal {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	background: white;
	text-align: center;
	padding: 5%;
	padding-top: 2%;
	overflow: scroll;

	video {
		display: block;
		margin: 0 auto;
		max-width: 100%;
	}

	&.upload {
		max-height: 150px;

		video {
			height: 100px;
			float: left;
		}
	}



	&#researcher-modal {
		* {
			text-align: left;
		}
		video, #client-info, #timestamp-form {
			width: 80%;
			margin: 0px auto;
			margin-bottom: 20px;
		}

		#research-close {
			position: absolute;
			top: 40px;
			right: 20px;
		}
	}

	form {
		display: block;

		input, select {
			border: 1px solid black;
			display: block;
			margin: 0 auto;

			&[type=radio] {
				display: inline-block;
			}
		}

		.radio-group {
			border: 1px solid black;
			padding: 4px;
			margin: 4px;
		}
	}
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

		&:hover, &:active {
			background: blue;
			color: white;
		}

		&:visited, &:focus {
			background: white;
			color: black;
		}
}

#video-upload {
	display: none;
}

.video-item {
	padding: 8px;
	margin: 8px;
	margin-left: 0px;
	border: 1px solid black;
	width: 40%;
	display: inline-block;

	&:focus, &:hover {
		background-color: $color-light-blue;
	}

	&:active {
		background-color: $color-blue;
	}

	@media(max-width: 400px) {
		width: 100%;

	}
}

.log {
	border: 2px solid black;
	padding: 10px;
	margin: 10px;
	margin-left: 0px;
}

.btn-group {
	margin-bottom: 10px;
}

.filters {
	margin-left: 0px;
}

.sorting {

	ul {
		list-style-type: none;
		padding: 0px;
	}

		li {
			display: inline-block;
		}

}

.home {

	#title {

	}

}
